body {
	background-color: black;
}

.title {
	text-align: center;
	width: 100%;
	background-color: black;
}

.message {
	text-align: center;
	font-family: 'Rye', cursive;
	color: white;
    opacity: 1;
    animation: fade 2s linear;
	animation-iteration-count: infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}