<!DOCTYPE html>
	<head>
	
		<title>Index.html</title>
		
		<link rel= "stylesheet" type= "text/css" href= "/css/global.css">
		<link rel= "stylesheet" type= "text/css" href= "/css/index.css">
		<link rel= "stylesheet" type= "text/css" 
			href="https://fonts.googleapis.com/css?family=Rye">
		
	</head>

	<body>
	
		<h1>THE OREGON TRAIL</h1>
		
		<br />
		
		<img src="/images/mountainsPixel.jpg">
		
		<br />
		<br />
		
		<p class="message" id = "goMenu">Press Spacebar to Start</p>
		
		<script type= "text/javascript" src= "/js/index.js"></script>
		<script type= "text/javascript" src= "/js/global.js"></script>
		
	</body>
</html>