<!DOCTYPE html>
	<head>
	
		<title>MainMenu.html</title>
		
		<link rel= "stylesheet" type= "text/css" href= "/css/global.css">
		<link rel= "stylesheet" type= "text/css" href= "/css/mainmenu.css">
		<link rel= "stylesheet" type= "text/css" 
			href="https://fonts.googleapis.com/css?family=Rye">
	
	</head>
	
	<body>
	
		<div class= "title">
			<img src="/images/title.png">
		</div>
	
		<br/><br/><br/><br/>
		
		<div class = "menu">
			<p>1.<span id = "goTrail">Travel the trail</span></p>
			<p>2.<span id = "goLearn">Learn about the trail</span></p>
			<p>3.<span id = "goTopTen">See the Oregon Top 10</span></p>
			<p>4.<span id = "goMusic">Turn sound OFF</span></p>
		</div>
		
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		
		<p class= "message">Select an option by pressing the corresponding 
			number on your keyboard</p>
		
		<script type= "text/javascript" src= "/js/mainmenu.js"></script>
		<script type= "text/javascript" src= "/js/global.js"></script>
		
	</body>
</html>