<!DOCTYPE html>
	<head>
	
		<title>Setup.html</title>
		
		<link rel= "stylesheet" type= "text/css" href= "/css/global.css">
		<link rel= "stylesheet" type= "text/css" href= "/css/setup.css">
		<link rel= "stylesheet" type= "text/css" 
			href="https://fonts.googleapis.com/css?family=Rye">
		
	</head>
	
	<body>
	
		<div class= "title">
			<img src="/images/title.png">
		</div>
		
		<br/><br/><br/><br/>
		
		<div class = "menu" id = "menuItems">
			<!--<p>1. Be a banker from Boston</p>
			<p>2. Be a carpenter from Ohio</p>
			<p>3. Be a farmer from Illinois</p>
			<p>4. Find out the differences between the choices</p>-->
		</div>
		
		<br/><br/><br/>
		
		<p class= "message" id = "goMenu">Press spacebar to return to menu</p>
		
		<script type= "text/javascript" src= "/js/global.js"></script>
		<script type= "text/javascript" src= "/js/setup.js"></script>
		
	</body>
</html>