<!DOCTYPE html>
	<head>
	
		<title>TopTen.html</title>
		<link rel= "stylesheet" type= "text/css" href= "/css/global.css">
		<link rel= "stylesheet" type= "text/css" href= "/css/topten.css">
		<link rel= "stylesheet" type= "text/css" 
			href="https://fonts.googleapis.com/css?family=Rye">
			
	</head>
	
	<body>
	
		<div class= "title">
			<img src="/images/title.png">
		</div>

		<h3>Highscores</h3>

		<div class = "topTen" id = "topTen">
		</div>
		
		<p class= "message" id = "goMenu">Press spacebar to return to menu</p>
		
		<script type= "text/javascript" src= "/js/global.js"></script>
		<script type= "text/javascript" src= "/js/topten.js"></script>
		
	</body>
</html>