<!DOCTYPE html>
	<head>
	
		<title>Trail.html</title>
		
		<link rel= "stylesheet" type= "text/css" href= "/css/global.css">
		<link rel= "stylesheet" type= "text/css" href= "/css/trail.css">
		<link rel= "stylesheet" type= "text/css" 
			href="https://fonts.googleapis.com/css?family=Rye">
			
	</head>
	
	<body>
	
		<div class= "title">
			<img src="/images/title.png">
		</div>
		
		<div class = "image" id = "image">
		</div>
		
		<br />
		<br />
		
		<div class = "stats">
			<p>
				<strong>Days on Trail: </strong>
				<span id = "daysPassed"></span>
			</p>
			<p>
				<strong>Miles Traveled: </strong>
				<span id = "miles"></span>
			</p>
			<p>
				<strong>Number of Living Party Members: </strong>
				<span id = "party"></span>
			</p>
		</div>
		
		<div class = "stats">
			<p>
				<strong>Party Health Status: </strong>
				<span id = "health"></span>
			</p>
			<p>
				<strong>Current Terrain: </strong>
				<span id = "terrain"></span>
			</p>
			<p>
				<strong>Current Pace: </strong>
				<span id = "pace"></span>
			</p>
		</div>
		
		<div class = "stats">
		<p>
			<strong>Current Weather: </strong>
			<span id = "weather"></span>
		</p>
		<p class = "instructions">Change pace with 1, 2, 3, and 4. 'Enter' will advance 1 day.</p>
		<p class= "messageForTrail" id = "goMenu">
			Press spacebar to return to menu
		</p>
		</div>
		
		<div class = "slider" id = "slider">
			<p class = "start"> Start <span class = "finish">Finish </span></p>
			<img id = 'wagon' src = "./images/wagon.png">
		</div>
		
		<script type= "text/javascript" src= "/js/global.js"></script>
		<script type= "text/javascript" src= "/js/trail.js"></script>
		
	</body>
</html>